$yellow: #fffa19;
$verde :#48CFC9;

@mixin margenes($top,$bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron {
background-color: black !important;
  color : white !important;

}

.encabezado{
  margin-left:20px;
  margin-bottom:20px;
  margin-right:20px;

}

.btn {
  border : $verde;
  background-color: $verde;
  color: green;
  margin-bottom: 3px;
}


footer{
padding: 10px 10px 0 10px;
background-color: black !important;
color: white;
@include margenes(px,0px)

}

.iconos-pie-pagina{
padding-right: 10px;
}

.card-hotel {
    flex: 5 240px;
    padding-top: 0px;
    margin-top: 5px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;

}
