.jumbotron {
  background-color: black !important;
  color: white !important;
}

.encabezado {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.btn {
  border: #48CFC9;
  background-color: #48CFC9;
  color: green;
  margin-bottom: 3px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: black !important;
  color: white;
  margin-top: px;
  margin-bottom: 0px;
}

.iconos-pie-pagina {
  padding-right: 10px;
}

.card-hotel {
  flex: 5 240px;
  padding-top: 0px;
  margin-top: 5px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

/*# sourceMappingURL=styles.css.map */
